APP_NAME=TradeEngine
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
UPSTOX_API_KEY=
UPSTOX_API_SECRET=
UPSTOX_REDIRECT_URI=
UPSTOX_AUTH_CODE=
UPSTOX_ACCESS_TOKEN=
UPSTOX_INSTRUMENT_KEY=
